## Dengue

In [1]:
import pandas as pd 
from tqdm import tqdm

pd.set_option('max_colwidth', -1)

<ipython-input-1-df61b74f9a48>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

### Consultando todos os Municipios

In [2]:
df_municipios = pd.read_excel('municipios.xlsx', sheet_name='Sheet_01')
print('Tamanho do Dataframe: {}'.format(df_municipios.shape))
df_municipios.head()

Tamanho do Dataframe: (5570, 3)

  Estado     Munícipio   Código
0  Acre   Acrelândia    1200013
1  Acre   Assis Brasil  1200054
2  Acre   Brasiléia     1200104
3  Acre   Bujari        1200138
4  Acre   Capixaba      1200179

In [ ]:
url = 'https://info.dengue.mat.br/api/alertcity'

df_dengue_ml = pd.DataFrame({})

# sem_end=52
year = 2021

for disease in ['dengue', 'chikungunya', 'zika']:
    print(year, disease)
    for cod_mun in tqdm(df_municipios['Código']): 
        search_filter = (
            'geocode={}&disease={}&format=csv&'.format(cod_mun, disease) +
            'ew_start=1&ew_end={}&ey_start={}&ey_end={}'.format(52, year, year)
        )
        
        df = pd.read_csv('%s?%s' % (url, search_filter))
        df['disease'] = disease
        df['year'] = year
        df_dengue_ml = df_dengue_ml.append(df)
        # print(df_dengue_ml.shape, "|" , year, "|" , disease)
        # print(url + search_filter)

print(df_dengue_ml.shape)

df_dengue_ml.head()

In [21]:
# 2010
df_dengue_ml.query("year == '2010'", engine='python')

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,disease,year
0,2010-12-26,201052,0.0,0,0,0,0.0,0.0,0,1,...,28.449729,33.285714,NaN,NaN,NaN,NaN,NaN,1,dengue,2010
1,2010-12-19,201051,0.0,0,0,0,0.0,0.0,0,1,...,27.301143,32.428571,NaN,NaN,NaN,NaN,NaN,1,dengue,2010
2,2010-12-12,201050,0.0,0,0,0,0.0,0.0,0,1,...,27.179000,33.000000,NaN,NaN,NaN,NaN,NaN,1,dengue,2010
3,2010-12-05,201049,0.0,0,0,0,0.0,0.0,0,1,...,29.389757,34.857143,NaN,NaN,NaN,NaN,NaN,1,dengue,2010
4,2010-11-28,201048,0.0,0,0,0,0.0,0.0,0,1,...,28.447043,33.571429,NaN,NaN,NaN,NaN,NaN,1,dengue,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,2010-01-31,201005,0.0,0,0,0,0.0,0.0,0,1,...,28.102357,33.714286,NaN,NaN,NaN,NaN,NaN,0,zika,2010
48,2010-01-24,201004,0.0,0,0,0,0.0,0.0,0,1,...,26.685200,31.571429,NaN,NaN,NaN,NaN,NaN,0,zika,2010
49,2010-01-17,201003,0.0,0,0,0,0.0,0.0,0,1,...,27.881000,33.285714,NaN,NaN,NaN,NaN,NaN,0,zika,2010
50,2010-01-10,201002,0.0,0,0,0,0.0,0.0,0,1,...,27.333129,32.571429,NaN,NaN,NaN,NaN,NaN,0,zika,2010
51,2010-01-03,201001,0.0,0,0,0,0.0,0.0,0,1,...,26.835971,31.142857,NaN,NaN,NaN,NaN,NaN,0,zika,2010

In [24]:
df_dengue_ml.to_csv('./Arquivos/dengue_municipio_2021.csv', index=False)