## Dengue

In [2]:
import pandas as pd 

pd.set_option('max_colwidth', -1)

C:\Users\Dell\AppData\Local\Temp/ipykernel_9576/2537169440.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

### Consultando apenas 1 Municipio

In [2]:
url = 'https://info.dengue.mat.br/api/alertcity'

search_filter = (
    'geocode=3304557&disease=dengue&format=csv&' +
    'ew_start=1&ew_end=50&ey_start=2017&ey_end=2017'
)

df = pd.read_csv('%s?%s' % (url, search_filter))
print(url + search_filter)
df.head()

https://info.dengue.mat.br/api/alertcitygeocode=3304557&disease=dengue&format=csv&ew_start=1&ew_end=50&ey_start=2017&ey_end=2017

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year
0,2017-12-10,201750,71.0,71,71,71,0.757232,1.052192,0,2,...,77.255571,69.549886,23.623814,24.857143,NaN,NaN,NaN,NaN,NaN,4596
1,2017-12-03,201749,81.0,81,81,81,0.984041,1.200389,0,2,...,76.802857,69.908857,24.258000,25.857143,NaN,NaN,NaN,NaN,NaN,4596
2,2017-11-26,201748,60.0,60,60,60,0.687503,0.889177,0,2,...,72.243743,59.833229,25.166657,27.428571,NaN,NaN,NaN,NaN,NaN,4596
3,2017-11-19,201747,51.0,51,51,51,0.400404,0.755800,0,2,...,77.717186,58.370186,24.523800,28.142857,NaN,NaN,NaN,NaN,NaN,4596
4,2017-11-12,201746,55.0,55,55,55,0.684003,0.815079,0,2,...,54.200400,33.575350,28.951100,34.500000,NaN,NaN,NaN,NaN,NaN,4596

### Consultando Municipios da Bahia

In [3]:
df_bahia = pd.read_excel('municipios.xlsx', sheet_name='Bahia')
df_bahia.head()

   Municipio   Codigo
0  Abaíra     2900108
1  Abaré      2900207
2  Acajutiba  2900306
3  Adustina   2900355
4  Água Fria  2900405

In [12]:
for i in df_bahia.head(5)['Codigo']: 
    print(i)

2900108
2900207
2900306
2900355
2900405

In [4]:
url = 'https://info.dengue.mat.br/api/alertcity'

df_geral = pd.DataFrame({})

for i in df_bahia.head(5)['Codigo']: 
    search_filter = (
        'geocode={}&disease=dengue&format=csv&'.format(i) +
        'ew_start=1&ew_end=50&ey_start=2017&ey_end=2017'
    )

    df = pd.read_csv('%s?%s' % (url, search_filter))
    df_geral = df_geral.append(df)
    print(df_geral.shape)
    # print(url + search_filter)

(50, 30)
(100, 30)
(150, 30)
(200, 30)
(250, 30)

### Consultando todos os Municipios

In [29]:
df_municipios = pd.read_excel('municipios.xlsx', sheet_name='Sheet_01')
print('Tamanho do Dataframe: {}'.format(df_municipios.shape))
df_municipios.head()

Tamanho do Dataframe: (5570, 3)

  Estado     Munícipio   Código
0  Acre   Acrelândia    1200013
1  Acre   Assis Brasil  1200054
2  Acre   Brasiléia     1200104
3  Acre   Bujari        1200138
4  Acre   Capixaba      1200179

In [31]:
url = 'https://info.dengue.mat.br/api/alertcity'

df_geral = pd.DataFrame({})

sem_end=52

for year in [1991, 2000, 2010]: 
    for disease in ['dengue', 'chikungunya', 'zika']:
        for cod_mun in df_municipios.head(3)['Código']: 
            search_filter = (
                'geocode={}&disease={}&format=csv&'.format(cod_mun, disease) +
                'ew_start=1&ew_end={}&ey_start={}&ey_end={}'.format(sem_end, year, year)
            )
            
            df = pd.read_csv('%s?%s' % (url, search_filter))
            df_geral = df_geral.append(df)
            print(df_geral.shape, "|" , year, "|" , disease)
            # print(url + search_filter)

(0, 30) | 1991 | dengue
(0, 30) | 1991 | dengue
(0, 30) | 1991 | dengue
(0, 30) | 1991 | chikungunya
(0, 30) | 1991 | chikungunya
(0, 30) | 1991 | chikungunya
(0, 30) | 1991 | zika
(0, 30) | 1991 | zika
(0, 30) | 1991 | zika
(0, 30) | 2000 | dengue
(0, 30) | 2000 | dengue
(0, 30) | 2000 | dengue
(0, 30) | 2000 | chikungunya
(0, 30) | 2000 | chikungunya
(0, 30) | 2000 | chikungunya
(0, 30) | 2000 | zika
(0, 30) | 2000 | zika
(0, 30) | 2000 | zika
(52, 30) | 2010 | dengue
(104, 30) | 2010 | dengue
(156, 30) | 2010 | dengue
(208, 30) | 2010 | chikungunya
(260, 30) | 2010 | chikungunya
(312, 30) | 2010 | chikungunya
(364, 30) | 2010 | zika
(416, 30) | 2010 | zika
(468, 30) | 2010 | zika

In [27]:
df_geral.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,umidmed,umidmin,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year
0,2010-12-12,201050,0.0,0,0,0,0.0,0.0,0,1,...,82.485857,54.285714,27.179000,33.000000,NaN,NaN,NaN,NaN,NaN,1
1,2010-12-05,201049,0.0,0,0,0,0.0,0.0,0,1,...,79.420014,54.714286,29.389757,34.857143,NaN,NaN,NaN,NaN,NaN,1
2,2010-11-28,201048,0.0,0,0,0,0.0,0.0,0,1,...,83.872457,53.142857,28.447043,33.571429,NaN,NaN,NaN,NaN,NaN,1
3,2010-11-21,201047,0.0,0,0,0,0.0,0.0,0,1,...,80.424843,50.428571,28.536571,34.000000,NaN,NaN,NaN,NaN,NaN,1
4,2010-11-14,201046,0.0,0,0,0,0.0,0.0,0,1,...,83.062957,53.571429,27.970457,33.714286,NaN,NaN,NaN,NaN,NaN,1