In [1]:
import datetime

today = datetime.date.today()
n_week = today.isocalendar()[1]
n_week

22

In [5]:
import pandas as pd
from tqdm import tqdm
pd.set_option('max_colwidth', -1)

url = 'https://info.dengue.mat.br/api/alertcity'
path = ''

df_municipios = pd.read_excel(path + 'municipios.xlsx', sheet_name='Sheet_01')

df_dengue = pd.DataFrame({})

def coleta_dados(df_dengue, df_municipios, url, year = 2023):
    for disease in ['dengue', 'chikungunya', 'zika']:
        for cod_mun in df_municipios.head(3)['Código']: 
                search_filter = (
                    'geocode={}&disease={}&format=csv&'.format(cod_mun, disease) + 
                    'ew_start=1&ew_end={}&ey_start={}&ey_end={}'.format(str(n_week), year, year) 
                )
                
                df = pd.read_csv('%s?%s' % (url, search_filter))
                df['disease'] = disease
                df['year'] = year
                df_dengue = pd.concat([df_dengue, df])
        
    return df_dengue

df = coleta_dados(df_dengue, df_municipios, url, year = 2023)

C:\Users\Lucas_Lab\AppData\Local\Temp\ipykernel_7440\2638422046.py:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('max_colwidth', -1)

In [6]:
df.head()

,data_iniSE,SE,casos_est,casos_est_min,casos_est_max,casos,p_rt1,p_inc100k,Localidade_id,nivel,...,tempmed,tempmax,casprov,casprov_est,casprov_est_min,casprov_est_max,casconf,notif_accum_year,disease,year
0,2023-05-07,202319,1.0,0,8,0,0.324055,6.455778,0,2,...,23.625000,24.400000,NaN,NaN,NaN,NaN,NaN,97,dengue,2023
1,2023-04-30,202318,1.0,0,6,0,0.105395,6.455778,0,2,...,24.614286,25.000000,NaN,NaN,NaN,NaN,NaN,97,dengue,2023
2,2023-04-23,202317,1.0,1,4,1,0.028193,6.455778,0,2,...,25.694904,30.590909,NaN,NaN,NaN,NaN,NaN,97,dengue,2023
3,2023-04-16,202316,2.0,2,5,2,0.041452,12.911556,0,2,...,25.345238,29.571429,NaN,NaN,NaN,NaN,NaN,97,dengue,2023
4,2023-04-09,202315,8.0,8,10,8,0.423054,51.646225,0,2,...,25.773810,31.142857,NaN,NaN,NaN,NaN,NaN,97,dengue,2023

In [7]:
df['SE'].unique()

array([202319, 202318, 202317, 202316, 202315, 202314, 202313, 202312,
       202311, 202310, 202309, 202308, 202307, 202306, 202305, 202304,
       202303, 202302, 202301], dtype=int64)